* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --bgFon: #798591;
  --btnBgFon: #000000;
  --colorText: #000000;
  --HeroWidth: 800px;
  --paddingBlock: 60px;
  --MobilpaddingBlock: 20px;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
@font-face {
  font-family: 'EurostileNormal';
  src: url('../fonts/EuroStyleNormal.woff2') format('woff2');
}
@font-face {
  font-family: 'EurostileRoman';
  src: url('../fonts/EurostileExtended-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'EurostileBold';
  src: url('../fonts/EurostileBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Form Neretta';
  src: url('../fonts/Forma-Neretta.woff2') format('woff2');
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--colorText);
  background-color: var(--bgFon);
  padding: 15px 2%;
  position: relative;
}
.header__nav-li,
.header__MenuBurger,
.header__logo,
.header__button {
  cursor: pointer;
}
.header__items {
  display: flex;
  list-style: none;
  column-gap: 15px;
}
.header__nav-item a {
  font-family: Form Neretta;
  text-decoration: none;
  color: var(--colorText);
  font-weight: normal;
  font-size: 12px;
}
.header__logo {
  width: 134px;
}
.header__button-container {
  height: 54px;
  display: flex;
  align-items: end;
}
.header__MenuBurger {
  display: none;
}
.block-button {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--btnBgFon);
  color: aliceblue;
  font-family: 'EurostileBold';
  font-size: 14px;
  transition-duration: 0.3s;
}
.block-button--hover:hover {
  margin-bottom: 10px;
}
.block-button__text-conainer {
  width: 100%;
  height: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.block-button__text-span {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
@keyframes scroll-text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes scroll-text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.block-button__aninamtion {
  top: 60px;
  left: 0px;
  width: 150px;
  height: 60px;
  background: #cf2e2e;
  position: absolute;
  border-radius: 50px 50px 0px 0px;
}
@keyframes header__button_aninamtion1 {
  0% {
    top: 60px;
    border-radius: 50% 50% 0px 0px;
    margin-bottom: 10px;
  }
  80% {
    border-radius: 30% 30% 0px 0px;
  }
  100% {
    top: -0px;
    border-radius: 0px;
  }
}
@-webkit-keyframes header__button_aninamtion1 {
  0% {
    top: 60px;
    border-radius: 50% 50% 0px 0px;
  }
  99% {
    border-radius: 50% 50% 0px 0px;
  }
  100% {
    top: -0px;
    border-radius: 0px;
  }
}

@keyframes header__button_aninamtion2 {
  0% {
    top: -4px;
    border-radius: 0px 0px 50% 50%;
  }

  100% {
    top: -62px;
    border-radius: 0px 0px 50% 50%;
  }
}
@-webkit-keyframes header__button_aninamtion2 {
  0% {
    top: -4px;
    border-radius: 0px;
  }
  50% {
    border-radius: 0px 0px 50px 50px;
  }
  100% {
    top: -62px;
    border-radius: 0px 0px 50px 50px;
  }
}
.header__button-burger {
  display: none;
}
.header__menu {
  display: none;
}
.header___menu-icon {
  display: none;
}
.Hero_logo {
  width: 100%;
  height: 500px;
  background: var(--bgFon);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.Hero__container-img {
  width: var(--HeroWidth);
  height: var(--HeroWidth);
  position: absolute;
  bottom: -400px;
  left: calc(50% - var(--HeroWidth) / 2);
  transform: translate(-50%, 0);
  animation: spin 30s infinite linear;
}
.Hero__container-img img {
  width: 100%;
  height: 100%;
}
.Hero__text {
  color: #000;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}
.Hero__text span {
  width: max-content;
  font-size: clamp(67px, 18vw, 231px);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Hero__Button {
  bottom: 20px;
  right: 20px;
  padding: 16px 30px;
  border-radius: 30px;
  background: #ecfb5c;
  position: absolute;
  border: none;
  outline: none;
  color: #000000;
  cursor: pointer;
  font-family: Form Neretta;
  display: flex;
  column-gap: 10px;
  transition-duration: 0.2s;
}
.Hero__Button-more {
  width: 18px;
  height: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.Hero__Button-more img {
  width: 17px;
  height: 8px;
}
.Hero__Button-more-test {
  top: -16px;
  position: absolute;
  transition-duration: 1s;
}
.Hero__Button:hover {
  bottom: 30px;
}
.Hero__Button:hover .Hero__Button-more-test {
  transform: translateY(16px);
}
.largeParagraph {
  padding: var(--paddingBlock);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.largeParagraph__row1 {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  align-items: center;
}
.largeParagraph__graphic {
  width: 22px;
  height: 22px;
}
.block-title {
  width: 715px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'EurostileBold';
  line-height: 0.8;
  color: var(--colorText);
  font-size: clamp(20px, 5vw, 43px);
  font-weight: bold;
}
.largeParagraph__row2 {
  display: flex;
  justify-content: center;
}
.largeParagraph__text {
  width: 715px;
  text-align: center;
  font-family: Form Neretta;
  font-size: clamp(8px, 4vw, 21px);
}
.marquee {
  width: 100%;
  padding: 20px;
  background: #ec673d;
  display: flex;
  overflow: hidden;
}
.marquee__wrapp {
  display: flex;
}
.marquee__container {
  display: flex;
  animation: marquee_animation 22s linear infinite;
}
.marquee__contanetn {
  width: 100%;
  display: flex;
  column-gap: 30px;
  font-family: EurostileBold;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}
.marquee__text {
  font-size: clamp(40px, 8vw, 120px);
  white-space: nowrap;
  color: var(--colorText);
  font-family: EurostileBold;
}
.marquee__icon {
  width: 70px;
  height: 70px;
}
@keyframes marquee_animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee_animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider {
  width: 100%;
  padding: 143px var(--paddingBlock);
  overflow: hidden;
  background-color: #000;
}
.slider__container {
  border-top: 1px solid #7a7a7a;
  padding-top: 20px;
}
.slider__header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-bottom: 110px;
}
.slider__text {
  color: #fff;
  text-transform: uppercase;
  font-family: Form Neretta;
  line-height: 1;
  font-size: clamp(8px, 3vw, 16px);
}
.slider__title-contaier {
  display: flex;
  justify-content: space-between;
}
.slider__title {
  width: 42%;
  color: #fff;
  text-align: start;
  line-height: 39px;
}
.slider__btn-container {
  width: 60px;
  display: flex;
  flex-direction: column;
}
.slider__btn-container button {
  background: none;
  outline: none;
  border: none;
}
.slider__btn-wrapp {
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(192, 192, 192, 0.729);
  transition-duration: 0.5s;
}
.slider__btn-inner {
  width: 14px;
  height: 26px;
  display: flex;
  transition-duration: 1s;
  align-items: center;
  overflow: hidden;
}
.slider__btn-liner {
  display: flex;
  transition-duration: 0.5s;
  column-gap: 15px;
}
.slider__btn-wrappp:hover {
  border: 1px solid rgb(223, 223, 223);
}
.slider__btn-wrapp:hover .slider__btn-liner {
  transform: translateX(-67%);
}
.slider__arrow {
  width: 14px;
  height: 26px;
}
.slider__right-arrow {
  transform: rotate(180deg);
}
.swiper-slide {
  width: 448px !important;
  height: 560px !important;
}
.block-card {
  height: 100%;
  padding: 30px;
  border-top: 1px soldi black;
  position: relative;
}
.block-card__floating-picture {
  top: 55px;
  right: 43px;
  position: absolute;
  width: 150px;
  height: 160px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.block-card1 {
  background: rgb(227, 214, 201);
}
.block-card2 {
  background: rgb(236, 251, 92);
}
.block-card3 {
  background: rgb(77, 171, 196);
}
.block-card4 {
  background: rgb(236, 103, 61);
}
.block-card5 {
  background: rgb(30, 72, 87);
}
.block-card6 {
  background: rgb(243, 242, 239);
}
.block-card__inner {
  height: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-card__title-container {
  padding-top: 25px;
}
.block-card__title {
  width: max-content;
  /* font-size: clamp(10px 3vw, 34px); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 1.1;
}
.block-card__more-container {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  font-family: Form Neretta;
  line-height: 1.2;
  color: #000;
}
.block-card__more-container p {
  font-size: clamp(12px, 3vw, 18px);
}
.block-card__more-container a {
  width: max-content;
}
.block-card__more-btn {
  padding: 25px 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  background: none;
  transition-duration: 0.5s;
}
.block-card__more-btn-inner {
  width: 20px;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.block-card__more-linier {
  top: 0px;
  right: 0px;
  display: flex;
  transition-duration: 0.5s;
  position: absolute;
  column-gap: 10px;
}
.block-card__icon-white {
  display: none;
}
.block-card__more-btn:hover {
  background: #000;
}
.block-card__more-btn:hover .block-card__icon-white {
  display: block;
}
.block-card__more-btn:hover .block-card__icon-black {
  display: none;
}
.block-card__more-btn:hover .block-card__more-linier {
  transform: translateX(60%);
}
.media {
  width: 100%;
  height: 332px;
  background-image: url('../images/mediaFon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}
.media__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.media__btn-container {
  width: 160px;
  height: 45px;
  position: relative;
}
.media__btn-inner {
  top: 0px;
  left: opx;
  position: absolute;
}
.media__btn {
  background: #fff;
  color: var(--colorText);
  outline: none;
  border: none;
}
.media__title {
  color: #fff;
  width: 47%;
}
.ContentBlock {
  width: 100%;
  padding: var(--paddingBlock);
  margin-bottom: 500px;
}
.ContentBlock__Mobil-container {
  display: none;
}
.ContentBlock__container {
  border-top: 1px solid black;
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
}
.ContentBlock__info-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 43px;
}
.ContentBlock__title {
  width: 75%;
  text-align: start;
  line-height: 0.9;
}
.ContentBlock__text {
  font-family: Form Neretta;
  line-height: 1.3;
  color: var(--colorText);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.ContentBlock__text p {
  font-size: clamp(8px, 3vw, 16px);
}
.ContentBlock__image-wrapp {
  width: 450px;
  height: 500px;
}
.ContentBlock__image-wrapp img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 850px) {
  :root {
    --HeroWidth: 450px;
  }
  .Hero__Button {
    display: none;
  }
  .header__items {
    display: none;
  }
  .block-button {
    display: none;
  }
  .header__button-burger {
    background: none;
    border: none;
    display: block;
    border: 4px solid rgba(192, 192, 192, 0);
    border-radius: 5px;
  }
  .header__button-container {
    align-items: center;
  }
  .header__menu {
    width: 0%;
    height: 100vh;
    background-color: #151515;
    display: block;
    top: 0px;
    right: 0px;
    position: absolute;
    transition-duration: 1s;
    z-index: 1;
  }
  .header__menu-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 25px 25px 0px 25px;
    display: none;
  }
  .header__icon-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .header__menu-btn {
    width: 22px;
    height: 22px;
    background-color: #fff;
    color: #000000;
    transform: rotate(45deg);
    position: relative;
    border: none;
    outline: none;
    overflow: hidden;
  }
  .header__menu-icon {
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    background: #fff;
  }
  .header__menu-row {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    color: #fff;
  }
  .header__menu-nav-hidden {
    list-style: none;
    height: 60px;
    overflow-y: hidden;
    position: relative;
  }
  .header__menu-nav-itam {
    text-decoration: none;
    text-transform: uppercase;
    font-family: EurostileBold;
    color: rgba(243, 242, 239, 0.6);
    font-size: clamp(30px, 8vw, 54px);
    font-weight: 800;
    position: absolute;
    transform: translateY(100%);
  }

  .header__menu-nav-itam--active {
    color: #fff;
  }
  .header__menu-column2 {
    display: flex;
    column-gap: 11%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .header__adress {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: clamp(8px, 3vw, 16px);
  }
  .header__adress span {
    display: block;
  }
  .header__adress-a-decoration {
    color: rgba(243, 242, 239, 0.6);
    font-family: Form Neretta;
    text-decoration: underline;
  }
  .header__adress-a {
    color: rgba(243, 242, 239, 0.6);
    font-family: Form Neretta;
    text-decoration: none;
    font-size: clamp(8px, 3vw, 16px);
    line-height: 20px;
  }
  .header__contact-container {
    display: flex;
    flex-direction: column;
  }
  .header__social {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
  }
  .block-soctial {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .block-soctial__icon {
    width: 12px;
    height: 12px;
  }
  .block-soctial a {
    text-transform: uppercase;
    font-family: Form Neretta;
    font-size: 12px;
    color: rgba(243, 242, 239, 0.6);
    text-decoration: none;
    font-size: clamp(8px, 3vw, 12px);
  }
  .Hero__container-img {
    bottom: -225px;
  }
  .largeParagraph {
    padding: var(--paddingBlock) 20px;
  }
  .block-title {
    width: 100%;
  }
  .marquee__icon {
    width: 55px;
    height: 55px;
  }
  .slider {
    padding: 106px var(--MobilpaddingBlock) 50px var(--MobilpaddingBlock);
  }
  .slider__header-container {
    margin-bottom: 71px;
  }
  .swiper-slide {
    width: 100% !important;
    height: 600px !important;
  }
  .slider__title {
    line-height: 26px;
  }
  .slider__header-container {
    row-gap: 70px;
  }
  .block-title {
    display: flex;
    width: 59%;
    align-items: center;
    line-height: 41px;
  }
  .block-card {
    width: 70%;
    margin: auto;
  }
  .block-card__title {
    width: 100%;
    align-items: start;
  }
  .media__btn {
    display: block;
  }
  .ContentBlock__container {
    border-top: none;
    flex-direction: column;
  }
  .ContentBlock__Mobil-container {
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .ContentBlock__Mobil-container img {
    width: 100%;
  }
  .ContentBlock {
    padding: var(--MobilpaddingBlock);
  }
  .ContentBlock__info-container {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 30px;
  }
  .ContentBlock__btn {
    display: block;
  }
  .ContentBlock__image-wrapp {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --HeroWidth: 320px;
  }
  .header__menu-nav-hidden {
    height: 38px;
  }
  .header__menu-btn {
    width: 17px;
    height: 17px;
  }
  .Hero_logo {
    padding: 5px 0px;
  }
  .Hero__container-img {
    bottom: -160px;
  }
  .largeParagraph {
    padding: var(--paddingBlock) 20px;
    row-gap: 21px;
  }
  .marquee__icon {
    width: 30px;
    height: 30px;
  }
  .block-title {
    line-height: 26px;
  }
  .slider__btn-wrapp {
    width: 53px;
    height: 53px;
  }
  .swiper-slide {
    width: 100% !important;
    height: 400px !important;
  }
  .block-card {
    width: 100%;
    margin: auto;
  }
  .block-card__more-container {
    row-gap: 10px;
  }
  .block-card__more-btn {
    padding: 12px 12px;
  }
}
@media screen and (max-width: 353px) {
  .swiper-slide {
    width: 100% !important;
    height: 300px !important;
  }
}
@media (hover: none) {
  .block-card__more-btn:hover {
    background: none;
  }
  .block-card__more-btn:hover .block-card__icon-white {
    display: none;
  }
  .block-card__more-btn:hover .block-card__icon-black {
    display: block;
  }
  .block-card__more-btn:hover .block-card__more-linier {
    transform: translateX(60%);
  }
  .slider__btn-wrapp:hover .slider__btn-liner {
    transform: translateX(-67%);
  }
  .slider__btn-wrappp:hover {
    border: 1px solid rgb(223, 223, 223);
  }
  .Hero__Button:hover {
    bottom: 30px;
  }
}
